<% user = User.find_by(id: @comment.user_id) %>
<div class="media mb-4">
  <img class="d-flex mr-3 rounded-circle" src=<%= user.avatar_url %> alt="", style="height: 50px; width: 50px">
  <div class="media-body">
    <h5 class="mt-0"><%= user.name %></h5>
    <%= @comment.content %>
  </div>
</div>
