<%= form_for(@comment, remote: true) do |f| %>
  <div class="form-group">
    <%= f.text_area :content, class: "form-control", rows: 3 %>
  </div>

  <%= f.hidden_field :post_id, value: @comment.post_id %>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>