<li>
  <%= image_tag(user.avatar_url, alt: user.name, class: "show_avatar") %>
  <h3><%= link_to user.name, user %></h3>
  <%= link_to "delete", user, method: :delete,
                              data: { confirm: "You sure?" } %> |
  <%= link_to "edit", edit_user_path(user) %>
</li>