<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-8">
    <section class="user_info">
      <%= image_tag(@user.avatar_url, alt: @user.name, class: "show_avatar") %>
      <h1><%= @user.name %></h1>
    </section>
    <p><strong>Email:</strong> <%= @user.email %></p>
  </aside>
</div>
