<div class="container">
  <h2 class="text-center">All post with tag <i><%= @tag.name %></i></h2>
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8 col-md-offset-2">

      <br><br>
      <!-- Blog Post -->
      <% @tag.posts.each do |post| %>
          <%= render post %>
          <hr>
      <% end %>

    </div>

</div>
