<div id="editPost" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit post</h4>
      </div>
      <div class="modal-body">
        <%= render "posts/form", post: @post, form_url: "/posts/" + params[:id], button_text: "Update post" %>
      </div>
    </div>

  </div>
</div>
