<% provide(:title, 'All users') %>
<div class="container">
  <h2 class="text-center">All posts:</h2>
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8 col-md-offset-2">

      <br><br>
      <!-- Blog Post -->
      <% @posts.each do |post| %>
        <%= render post %>
        <%= link_to "delete", post, method: :delete,
                              data: { confirm: "You sure?" } %> |
        <%= link_to "edit", edit_post_path(post) %>
        <hr>
      <% end %>

    </div>

</div>

